<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.showdropgo.unity-relay-tcp</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/socat</string>
        <string>TCP4-LISTEN:{{ unity_local_relay_listen_port }},reuseaddr,fork</string>
        <string>TCP4:{{ unity_local_relay_target_host }}:{{ unity_local_relay_target_port }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/unity-relay-tcp.log</string>
</dict>
</plist>
